body {
  font-family: 'Josefin Sans';
  background-image: url('./assets/cover/bg.jpg');
  background-position-x: right;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}

.hero-icons {
  position:'absolute';
   float:right;
   padding-bottom: 20px;
}


.hero-image-container {
  padding-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center
  
}

.hero-image {
  width: 200px;
  border-radius: 200px;
  margin-top: 50px;
  margin-left: 50px;
  
}

.para-section {
  padding-left: 50px;
  display: inline;
}

.hero-para {

}


.hero-projects-link {
  position: relative;
  
}